@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
    background-color:#525151;
    font-family: Poppins;
}


.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 80%;
    margin: 0 auto;
}

.products .row
{
    flex-direction: column;
    gap :40px;
    
}

.products h2 
{
    background-color: rgb(9 89 73) ;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 24px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    
}

.products .product
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}


.products .pizza
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    padding: 20px;

    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 20px 0 8px rgba(0, 0, 0, 0.2);
    
}

.products .pizza img
{
    width:350px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;   

}

.products .pizza h3
{
    text-align: center;
    padding: 10px;
}

